<section class="bg-primary" id="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-sm-4 col-xs-4 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1 text-center">
                <img src="img/about/about.jpg" class="img-responsive" alt="About me"
                    style="text-align: center; width:80%; border-radius:20%; border:5px solid rgb(90, 90, 90)">
                <br>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-6 text-center">
                <h2 class="section-heading">ABOUT ME</h2>
                <hr class="light">
                <br>
                <p class="text-faded">As a software engineer on the Mapping and Localization team at Nuro, I specialize
                    in developing and implementing cutting-edge technologies to enable self-driving cars to navigate
                    the world.
                </p>
                <p class="text-faded">With my strong background in electronics, mechanics, and robotics engineering,
                    as well as program management, I have a diverse understanding of the systems and processes that
                    make autonomous vehicles work.
                </p>
                <p class="text-faded">I excel in creating innovative solutions and delivering high-quality results.
                    I have a proven track record of successfully leading cross-functional teams and am able to work
                    effectively in a fast-paced, team-oriented environment.
                </p>
                <p class="text-faded">I am excited to be a part of a team that is shaping the future of transportation
                    and making a positive impact on society.
                </p>
                <br><br><br>
                <p class="text-faded">If you have any questions or opportunities, please feel free to contact me using
                    the information below.
                </p>
                <br><br>
                <a href="#contact" class="btn btn-default btn-xl wow tada page-scroll">Contact Me</a>
            </div>
        </div>
    </div>
</section>
