<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                <p class="text-faded">I’m an innovative mechanical engineer, hoping to use autonomous robotics technology to solve some of the world's most pressing issues. I’m experienced in both enterprise and defense technology applications. I started my professional journey by gaining valuable hands-on experience in the elite Research and Development Unit of Israel’s Military Intelligence Corps and later worked in the Mechanical Engineering Department at Elbit Systems, a global provider of Homeland Security Solutions. I wish to continue growing, challenge myself, expand my engineering skills and realize technical ambitions</p>
                <a href="#contact" class="btn btn-default btn-xl page-scroll">Contact Me</a>
            </div>
        </div>
    </div>
</section>
