<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact Information</h2>
                <hr class="primary">
                <p>yael.bshalom@gmail.com</p>
                <p>+1 (312) 560-6007</p>
                <p>201 N. Garland Court, Chicago, IL, 60601</p>
            </div>
            <div class="service-box">
                <div class="row">
                    <div class="col-xs-6 col-sm-3">
                        <a href="mailto:{{ site.email }}">
                        <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                            <p>{{  }}</p>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <a href="https://www.linkedin.com/in/yael-ben-shalom-21521410a/">
                            <i class="fa fa-linkedin fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                            <p>{{   }}</p>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <a href="https://www.facebook.com/yael.b.shalom.7/">
                            <i class="fa fa-facebook-square fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                            <p>{{   }}</p>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <a href="https://github.com/{{ site.github_username }}">
                        <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                            <p>{{   }}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
