<section id="contact">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <img style="border-radius: 50%" src="img/my_photo.jpg" alt="My picture" width="330" height="330">  
                <br><br><br><br>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">CONTACT INFORMATION</h2>
                <hr class="primary">
                <br>
                <h2 class="section-heading"><b>Yael Ben Shalom</b></h2>
                <br>
                <p><i class="fa fa-envelope" style="font-size:18px"><a href="mailto:yael.bshalom@gmail.com">&nbsp; yael.bshalom@gmail.com</a></i></p>
                <p><i class="fa fa-phone" style="font-size:18px">&nbsp; +1-(312)-560-6007</i></p>
                <br><br>
            </div>
            <div class="service-box">
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-lg-2 col-xs-offset-2 col-sm-offset-2 col-lg-offset-2">
                        <a href="#header" class="page-scroll">
                            <i class="fa fa-home fa-3x wow bounceIn center" aria-hidden="true" data-wow-delay=".1s"></i>
                            <!-- <i class="fa fa-globe fa-3x wow bounceIn center" aria-hidden="true" data-wow-delay=".1s"></i> -->
                            <p>{{   }}</p>
                        </a>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-lg-2">
                        <a href="mailto:yael.bshalom@gmail.com">
                            <i class="fa fa-envelope fa-3x wow bounceIn center" aria-hidden="true" data-wow-delay=".1s"></i>
                            <p>{{   }}</p>
                        </a>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-lg-2">
                        <a href="https://github.com/{{ site.github_username }}" target="_blank">
                            <i class="fa fa-github fa-3x wow bounceIn center" data-wow-delay=".1s"></i>
                            <p>{{   }}</p>
                        </a>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-lg-2">
                        <a href="https://www.linkedin.com/in/yael-ben-shalom-21521410a/" target="_blank">
                            <i class="fa fa-linkedin fa-3x wow bounceIn center" aria-hidden="true" data-wow-delay=".1s"></i>
                            <p>{{   }}</p>
                        </a>
                    </div>
                    <!-- <div class="col-xs-3 col-sm-3 text-center">
                        <a href="https://www.facebook.com/yael.b.shalom.7/" target="_blank">
                            <i class="fa fa-facebook-square fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                            <p>{{   }}</p>
                        </a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
