<aside class="bg-primary"></aside>

<section class="no-padding" id="mechatronics">
    <div class="container-fluid center">
        <div class="row no-gutter center">
            <div class="col-lg-8 col-lg-offset-2">

                <!-- Header -->
                <div class="modal-header">
                    <h2 class="text-center modal-title">Robot Navigation and Control</h2>
                    <h5 class="text-center">C++ | Autonomous Vehicle | Motion Planning | Path Planning | Feedforward
                        Control | Arduino</h5>
                    <h6 class="text-center">December 2017 - January 2018</h6>
                </div>

                <!-- body -->
                <div class="modal-body">
                    <h3>Description</h3>
                    <p>In this project, I build a wheeled robot and programmed it to navigate autonomously through a
                        series of tasks, Using Arduino, motors, encoders and distance sensors.</p>
                    <p>Take a look at the project on my <a
                            href="https://github.com/YaelBenShalom/Autonomous-Robot-Navigation-and-Control"
                            target="_blank" rel="noopener"><u><b>GitHub</b></u></a> page.</p>
                    <p class="text-center">
                        <img src="../img/portfolio/mechatronics/vehicle.jpg" alt="The vehicle" style="width:80%">
                    </p>
                    <p class="img_description">The autonomous vehicle</p>
                    <br>

                    <h3>Tasks</h3>
                    <p>The main goal was to successfully pass a series of tasks in an obstacle course, as fast as
                        possible:
                    <ol>
                        <li><b>Maze navigation and exploration</b> - Navigating through a maze</li>
                        <li><b>Angle control</b> - Driving through changing-slope path, keeping constant roll</li>
                        <li><b>Distance control</b> - Following curved wall, keeping constant distance from it</li>
                        <li><b>Velocity control</b> - Driving on a changing-gradient slope, keeping constant speed</li>
                        <li><b>Feature detection</b> - Locating and reaching the finish line flag</li>
                    </ol>
                    </p>
                    <br>

                    <div class="row no-gutter text-center">
                        <div class="col-lg-3 col-sm-5">
                            <p class="text-center">
                                <img src="../img/portfolio/mechatronics/task1.jpg" alt="Task 1 - maze"
                                    style="width:130%">
                            </p>
                        </div>
                        <div class="col-lg-3 col-sm-5 col-lg-offset-1">
                            <p class="text-center">
                                <img src="../img/portfolio/mechatronics/task2.jpg" alt="Task 2 - changing-slope"
                                    style="width:130%">
                            </p>
                        </div>
                        <div class="col-lg-3 col-sm-5 col-lg-offset-1">
                            <p class="text-center">
                                <img src="../img/portfolio/mechatronics/task3.jpg" alt="Task 3 - following curved wall"
                                    style="width:130%">
                            </p>
                        </div>
                    </div>
                    <p class="img_description">The autonomous vehicle in the obstacle course</p>
                    <br>

                    <h3>System Description</h3>
                    <p>I used several components to control the robot motion:
                    <ul>
                        <li><b>Control</b> - Arduino Mega 2560 R3</li>
                        <li><b>Motors & encoders:</b>
                            <dl>
                                <dd>- PMW motor and encoder - One on each rear wheel to activate and control the motion
                                </dd>
                                <dd>- Servo motor - Located on the front of the vehicle and used to rotate the TOF
                                    sensor to desired scanning angle</dd>
                            </dl>
                        </li>
                        <li><b>Sensors:</b>
                            <dl>
                                <dd>- IR sensor - One on each side of the vehicle to measure side distance</dd>
                                <dd>- TOF (Time of Flight) sensor - Assembled on the servo motor to scan the surrounding
                                    space</dd>
                                <dd>- US (ultrasonic) sensor - Located on the top of the vehicle to measure distance
                                    from objects above the vehicle</dd>
                                <dd>- IMU 9250 (9 DOF) - Measures orientation (Gyroscope) and acceleration
                                    (Accelerometer). Compass is not in use</dd>
                            </dl>
                        </li>
                        <li><b>Visual indication</b> - Led matrix, Indicates mission number and mission success/fail
                        </li>
                    </ul>
                    </p>
                    <p class="text-center">
                        <img src="../img/portfolio/mechatronics/system_explanation.png" alt="The system"
                            style="width:80%">
                    </p>
                    <p class="img_description">The system</p>
                </div>

                <!-- footer -->
                <div class="modal-footer">
                    <div class="text-center">
                        <p></p>
                        <form action="https://github.com/YaelBenShalom/Autonomous-Robot-Navigation-and-Control"
                            method="get" target="_blank">
                            <button type="submit" class="btn btn-primary">Checkout Project on Github</button>
                        </form>
                        <p></p>
                        <button type="button" class="btn btn-primary center" onclick="history.back()">Back To
                            Portfolio</button>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>