<aside class="bg-primary"></aside>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        processEscapes: true
      }
    });
</script>  
<script type="text/javascript"
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<section class="no-padding" id="motorized_prosthetic_arm">
    <div class="container-fluid center">
        <div class="row no-gutter center">
            <div class="col-lg-8 col-lg-offset-2">

                <!-- Header -->
                <div class="modal-header">
                    <h2 class="text-center modal-title">Motorized Prosthetic Arm</h2>
                    <h5 class="text-center">Python  |  C  |  Biomechanics  |  Human Movement Analysis  |  Mechatronics  |  Motor Control</h5>
                </div>
                
                <!-- body -->
                <div class="modal-body">
                    <h3>Description</h3>       
                        <p>...</p>
                        <p>Take a look at the project on my <a href="https://github.com/YaelBenShalom/Motorized-Prosthetic-Arm" target="_blank" rel="noopener"><u><b>GitHub</b></u></a> page.</p>
                        <!-- <p class="text-center">
                            <img src="../img/portfolio/dynamic_simulation/ME314-final-project.gif" alt="Dynamic simulation" style="width:60%"></p>
                        <p class="img_description">Jack-in-a-box - dynamic simulation</p> -->
                        <br>
                    
                    <h3>System Overview</h3>
                        <p>...</p>
                        <br>

                        <h4>Electrical design</h4>
                            <p>...</p>
                            <br>
                        
                        <h4>Mechanical design</h4>
                            <p>...</p>
                            <br>

                        <h4>Control System</h4>
                            <p>...</p>
                            <br>

                    <h3>Future Work</h3>
                        <p>...</p>
                        <br>
                </div>

                <!-- footer -->
                <div class="modal-footer">
                    <div class="text-center">
                        <p></p>
                        <form action="https://github.com/YaelBenShalom/Motorized-Prosthetic-Arm" method="get" target="_blank">
                            <button type="submit" class="btn btn-primary">Checkout Project on Github</button>
                        </form>
                        <p></p>
                        <button type="button" class="btn btn-primary center" onclick="history.back()">Back To Portfolio</button>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>