<aside class="bg-primary" id="portfolio_introduction">
    <div class="container-fluid text-center">
      <div class="col-lg-6 col-lg-offset-3 text-center">
            <h2>FEATURED PROJECTS</h2>
            <hr class="light">
            <p class="text-faded">A glance at my most recent projects</p>
      </div>
    </div>
</aside>

<section class="no-padding" id="portfolio">
    <div class="container-fluid center">
        <div class="row no-gutter center">
            <div class="col-lg-4 col-sm-6 center">
                <a href="recycler_baxter/index.html" target="_blank" class="portfolio-box" tabindex="-1" role="dialog" aria-hidden="true">
                    <img src="img/portfolio/1.gif" class="img-responsive" alt="recycler_baxter">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Recycler Baxter
                            </div>
                            <div class="project-category text-faded">
                                Using computer vision and motion planning to make Baxter sort cans and bottles for recycling
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 center">
                <a href="ML_object_detection/index.html" target="_blank" class="portfolio-box" tabindex="-1" role="dialog" aria-hidden="true" data-toggle="modal">
                    <img src="img/portfolio/22.gif" class="img-responsive" alt="ML_object_recognition_and_classification">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Real-Time Objects Recognition
                            </div>
                            <div class="project-category text-faded">
                                Building and training a deep neural network to recognize and classify traffic-signs and recyclable trash
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 center">
                <a href="EKF_SLAM/index.html" target="_blank" class="portfolio-box" tabindex="-1" role="dialog" aria-hidden="true" data-toggle="modal">
                    <img src="img/portfolio/3.gif" class="img-responsive" alt="EKF-SLAM">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                EKF SLAM from Scratch
                            </div>
                            <div class="project-category text-faded">
                                Implementing feature-based EKF SLAM with unsupervised learning from Scratch
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 center">
                <a href="mobile_manipulation/index.html" target="_blank" class="portfolio-box" tabindex="-1" role="dialog" aria-hidden="true">
                    <img src="img/portfolio/4.gif" class="img-responsive" alt="mobile_manipulation">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Mobile Manipulation
                            </div>
                            <div class="project-category text-faded">
                                Applying feedback control to make a mobile manipulator to pick up a block at a specified location and carry it to desired location
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 center">
                <a href="pen_recognition/index.html" target="_blank" class="portfolio-box" tabindex="-1" role="dialog" aria-hidden="true" data-toggle="modal">
                    <img src="img/portfolio/5.gif" class="img-responsive" alt="pen_recognition">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Robotic Arm Control Using Computer Vision Perception
                            </div>
                            <div class="project-category text-faded">
                                Programming robotic arm to identify and "steal" a pen using 3D camera and image recognition
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 center">
                <a href="maze/index.html" target="_blank" class="portfolio-box" tabindex="-1" role="dialog" aria-hidden="true" data-toggle="modal">
                    <img src="img/portfolio/6.gif" class="img-responsive" alt="maze">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Maze Implementation and Exploration
                            </div>
                            <div class="project-category text-faded">
                                Generating, solving and visualizing a maze
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 center">
                <a href="turtlebot_SLAM/index.html" target="_blank" class="portfolio-box center" tabindex="-1" role="dialog" aria-hidden="true" data-toggle="modal">
                    <img src="img/portfolio/7.gif" class="img-responsive" alt="Project 7">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Turtlebot3 SLAM
                            </div>
                            <div class="project-category text-faded">
                                Exploration and navigation using SLAM Toolbox
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 center">
                <a href="dynamic_simulation/index.html" target="_blank" class="portfolio-box center" tabindex="-1" role="dialog" aria-hidden="true" data-toggle="modal">
                    <img src="img/portfolio/8.gif" class="img-responsive" alt="dynamic_simulation">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Jack-in-a-Box Dynamic Simulation
                            </div>
                            <div class="project-category text-faded">
                                Simulating the dynamics of a Jack-in-a-Box system
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 center">
                <a href="mechatronics/index.html" target="_blank" class="portfolio-box" tabindex="-1" role="dialog" aria-hidden="true" data-toggle="modal">
                    <img src="img/portfolio/9.jpg" class="img-responsive" alt="mechatronics">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Robot Navigation and Control
                            </div>
                            <div class="project-category text-faded">
                                Building a wheeled robot and programming it to navigate autonomously through an obstacle course
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>