<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#project1" class="portfolio-box" tabindex="-1" role="dialog" aria-hidden="true" data-toggle="modal">
                    <img src="img/portfolio/1.gif" class="img-responsive" alt="Responsive image">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Recycler Baxter - Work in Progress
                            </div>
                            <div class="project-category text-faded">
                                Using computer vision and motion planning to make Baxter sort cans and bottles for recycling
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#project2" class="portfolio-box" tabindex="-1" role="dialog" aria-hidden="true" data-toggle="modal">
                    <img src="img/portfolio/2.gif" class="img-responsive" alt="Responsive image">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Mobile Manipulation - Work in Progress
                            </div>
                            <div class="project-category text-faded">
                                Apply feedback control to make the youBot mobile manipulator pick up a block at a specified location, and carry it to desired location
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#project3" class="portfolio-box" tabindex="-1" role="dialog" aria-hidden="true" data-toggle="modal">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="Responsive image">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Robot Navigation and Control
                            </div>
                            <div class="project-category text-faded">
                                Built a wheeled robot and programmed it to navigate autonomously through an obstacle course
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#project4" class="portfolio-box" tabindex="-1" role="dialog" aria-hidden="true" data-toggle="modal">
                    <img src="img/portfolio/4.png" class="img-responsive" alt="Responsive image">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Rapidly-Exploring Random Tree (RRT)
                            </div>
                            <div class="project-category text-faded">
                                Implementation of Rapidly-Exploring Random Tree (RRT) - path planning algorithm
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#project5" class="portfolio-box" tabindex="-1" role="dialog" aria-hidden="true" data-toggle="modal">
                    <img src="img/portfolio/5.gif" class="img-responsive" alt="Responsive image">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Robotic Arm Control Using Computer Vision Perception
                            </div>
                            <div class="project-category text-faded">
                                Programming robotic arm to identify and "steal" a pen using 3D camera and image recognition
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#project6" class="portfolio-box" tabindex="-1" role="dialog" aria-hidden="true" data-toggle="modal">
                    <img src="img/portfolio/6.gif" class="img-responsive" alt="Responsive image">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Maze Implementation and Exploration
                            </div>
                            <div class="project-category text-faded">
                                Generating and solving a maze
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>