 <!-- Modal 1 -->
<div class="portfolio-modal modal fade modal-xl" id="project1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            
            <!-- Modal Header -->
            <div class="col-lg-12 text-center">
                <div class="modal-header">
                    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <!-- <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                        <span aria-hidden="true">&times;</span>
                    </button> -->
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> -->
                    <h3 class="modal-title">Recycler Baxter</h3>
                    <a class="boxed">ROS  |  Python  |  Computer Vision  |  Motion Planning</a>
                </div>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                <p></p>
                <h3>Description</h3>       
                <p>...Text...</p>
                <p></p>
                <h3>Goals</h3>       
                <p>...Text...</p>
                <p></p>
                <h3>Overview</h3>
                <h4>Overview 1</h4> 
                <p>...Text...</p>
                <p></p>
                <h3>Overview 2</h3> 
                <p>...Text...</p>
                <p></p>
                <h3>Overview 3</h3>       
                <p>...Text...</p>
                <p></p>
                <h3>Demo</h3> 
                <h4>Demo1</h4> 
                <!-- <img class="img-fluid d-block mx-auto" src="img/portfolio/healer_baxter/piano.png" alt=""> -->
                <p>...Text...</p>
                <h4>Demo2</h4> 
                <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/lJ78-UlrxD4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                <p>...Text...</p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="col-lg-12 text-center">
                    <p></p>
                    <button type="button" href="https://github.com/YaelBenShalom" class="btn btn-primary">Check Project on Github</button>    
                    <p></p>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close Project</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 2 -->
<div class="portfolio-modal modal fade modal-xl" id="project2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            
            <!-- Modal Header -->
            <div class="col-lg-12 text-center">
                <div class="modal-header">
                    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <!-- <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                        <span aria-hidden="true">&times;</span>
                    </button> -->
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> -->
                    <h3 class="modal-title">Mobile Manipulation</h3>
                    <a class="boxed">ROS  |  Python  |  Robotic Manipulation  |  Motion Planning</a>
                </div>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                <p></p>
                <h3>Description</h3>       
                <p>...Text...</p>
                <p></p>
                <h3>Goals</h3>       
                <p>...Text...</p>
                <p></p>
                <h3>Overview</h3>
                <h4>Overview 1</h4> 
                <p>...Text...</p>
                <p></p>
                <h3>Overview 2</h3> 
                <p>...Text...</p>
                <p></p>
                <h3>Overview 3</h3>       
                <p>...Text...</p>
                <p></p>
                <h3>Demo</h3> 
                <h4>Demo1</h4> 
                <!-- <img class="img-fluid d-block mx-auto" src="img/portfolio/healer_baxter/piano.png" alt=""> -->
                <p>...Text...</p>
                <h4>Demo2</h4> 
                <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/lJ78-UlrxD4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                <p>...Text...</p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="col-lg-12 text-center">
                    <p></p>
                    <button type="button" href="https://github.com/YaelBenShalom" class="btn btn-primary">Check Project on Github</button>    
                    <p></p>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close Project</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 3 -->
<div class="portfolio-modal modal fade modal-xl" id="project3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            
            <!-- Modal Header -->
            <div class="col-lg-12 text-center">
                <div class="modal-header">
                    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <!-- <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                        <span aria-hidden="true">&times;</span>
                    </button> -->
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> -->
                    <h3 class="modal-title">Rapidly-Exploring Random Tree (RRT)</h3>
                    <a class="boxed">Python  |  Artificial Intelligence  |  Path planning</a>
                </div>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                <p></p>
                <h3>Description</h3>       
                <p>...Text...</p>
                <p></p>
                <h3>Goals</h3>       
                <p>...Text...</p>
                <p></p>
                <h3>Overview</h3>
                <h4>Overview 1</h4> 
                <p>...Text...</p>
                <p></p>
                <h3>Overview 2</h3> 
                <p>...Text...</p>
                <p></p>
                <h3>Overview 3</h3>       
                <p>...Text...</p>
                <p></p>
                <h3>Demo</h3> 
                <h4>Demo1</h4> 
                <!-- <img class="img-fluid d-block mx-auto" src="img/portfolio/healer_baxter/piano.png" alt=""> -->
                <p>...Text...</p>
                <h4>Demo2</h4> 
                <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/lJ78-UlrxD4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                <p>...Text...</p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="col-lg-12 text-center">
                    <p></p>
                    <button type="button" href="https://github.com/YaelBenShalom" class="btn btn-primary">Check Project on Github</button>    
                    <p></p>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close Project</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 4 -->
<div class="portfolio-modal modal fade modal-xl" id="project4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            
            <!-- Modal Header -->
            <div class="col-lg-12 text-center">
                <div class="modal-header">
                    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <!-- <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                        <span aria-hidden="true">&times;</span>
                    </button> -->
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> -->
                    <h3 class="modal-title">Robot Navigation and Control</h3>
                    <a class="boxed">Python  |  Autonomous Vehicle  |  Artificial Intelligence  |  Motion planning  |  Path planning  |  Arduino</a>
                </div>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                <p></p>
                <h3>Description</h3>       
                <p>...Text...</p>
                <p></p>
                <h3>Goals</h3>       
                <p>...Text...</p>
                <p></p>
                <h3>Overview</h3>
                <h4>Overview 1</h4> 
                <p>...Text...</p>
                <p></p>
                <h3>Overview 2</h3> 
                <p>...Text...</p>
                <p></p>
                <h3>Overview 3</h3>       
                <p>...Text...</p>
                <p></p>
                <h3>Demo</h3> 
                <h4>Demo1</h4> 
                <!-- <img class="img-fluid d-block mx-auto" src="img/portfolio/healer_baxter/piano.png" alt=""> -->
                <p>...Text...</p>
                <h4>Demo2</h4> 
                <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/lJ78-UlrxD4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                <p>...Text...</p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="col-lg-12 text-center">
                    <p></p>
                    <button type="button" href="https://github.com/YaelBenShalom" class="btn btn-primary">Check Project on Github</button>    
                    <p></p>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close Project</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 5 -->
<div class="portfolio-modal modal fade modal-xl" id="project5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            
            <!-- Modal Header -->
            <div class="col-lg-12 text-center">
                <div class="modal-header">
                    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <!-- <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                        <span aria-hidden="true">&times;</span>
                    </button> -->
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> -->
                    <h3 class="modal-title">Who Stole My Pen?</h3>
                    <a class="boxed">ROS  |  Python  |  Robotic Manipulation  |  Motion planning  |   Computer Vision  |  Range Imaging</a>
                </div>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                <p></p>
                <h3>Description</h3>       
                <p>...Text...</p>
                <p></p>
                <h3>Goals</h3>       
                <p>...Text...</p>
                <p></p>
                <h3>Overview</h3>
                <h4>Overview 1</h4> 
                <p>...Text...</p>
                <p></p>
                <h3>Overview 2</h3> 
                <p>...Text...</p>
                <p></p>
                <h3>Overview 3</h3>       
                <p>...Text...</p>
                <p></p>
                <h3>Demo</h3> 
                <h4>Demo1</h4> 
                <!-- <img class="img-fluid d-block mx-auto" src="img/portfolio/healer_baxter/piano.png" alt=""> -->
                <p>...Text...</p>
                <h4>Demo2</h4> 
                <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/lJ78-UlrxD4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                <p>...Text...</p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="col-lg-12 text-center">
                    <p></p>
                    <button type="button" href="https://github.com/YaelBenShalom" class="btn btn-primary">Check Project on Github</button>    
                    <p></p>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close Project</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 6 -->
<div class="portfolio-modal modal fade modal-xl" id="project6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            
            <!-- Modal Header -->
            <div class="col-lg-12 text-center">
                <div class="modal-header">
                    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <!-- <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                        <span aria-hidden="true">&times;</span>
                    </button> -->
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> -->
                    <h3 class="modal-title">Python a-Maze-ing Challenge</h3>
                    <a class="boxed">Python  |  Path planning</a>
                </div>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                <p></p>
                <h3>Description</h3>       
                <p>...Text...</p>
                <p></p>
                <h3>Goals</h3>       
                <p>...Text...</p>
                <p></p>
                <h3>Overview</h3>
                <h4>Overview 1</h4> 
                <p>...Text...</p>
                <p></p>
                <h3>Overview 2</h3> 
                <p>...Text...</p>
                <p></p>
                <h3>Overview 3</h3>       
                <p>...Text...</p>
                <p></p>
                <h3>Demo</h3> 
                <h4>Demo1</h4> 
                <!-- <img class="img-fluid d-block mx-auto" src="img/portfolio/healer_baxter/piano.png" alt=""> -->
                <p>...Text...</p>
                <h4>Demo2</h4> 
                <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/lJ78-UlrxD4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                <p>...Text...</p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="col-lg-12 text-center">
                    <p></p>
                    <button type="button" href="https://github.com/YaelBenShalom" class="btn btn-primary">Check Project on Github</button>    
                    <p></p>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close Project</button>
                </div>
            </div>
        </div>
    </div>
</div>