 <!-- Modal 1 -->
 <div class="portfolio-modal modal fade modal-xl" id="project1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="text-center modal-title">Recycler Baxter</h3>
                <h4 class="text-center">ROS  |  Python  |  Computer Vision  |  Motion Planning</h4>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                <p></p>
                <h3>Description</h3>       
                <p>...Text...</p>
                <p></p>
                <h3>Goals</h3>       
                <p>...Text...</p>
                <p></p>
                <h3>Overview</h3>
                <h4>Overview 1</h4> 
                <p>...Text...</p>
                <p></p>
                <h3>Overview 2</h3> 
                <p>...Text...</p>
                <p></p>
                <h3>Overview 3</h3>       
                <p>...Text...</p>
                <p></p>
                <h3>Demo</h3> 
                <h4>Demo1</h4> 
                <!-- <img class="img-fluid d-block mx-auto" src="img/portfolio/healer_baxter/piano.png" alt=""> -->
                <p>...Text...</p>
                <h4>Demo2</h4> 
                <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/lJ78-UlrxD4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                <p>...Text...</p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="text-center">
                    <p></p>
                    <form action="https://github.com/YaelBenShalom" method="get" target="_blank">
                        <button type="submit" class="btn btn-primary">Check Project on Github</button>
                     </form>
                     <p></p>
                    <button type="button" class="btn btn-primary center" data-dismiss="modal">Close Project</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 2 -->
<div class="portfolio-modal modal fade modal-xl" id="project2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="text-center modal-title">Mobile Manipulation</h3>
                <h4 class="text-center">ROS  |  Python  |  Robotic Manipulation  |  Motion Planning</h4>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                <p></p>
                <h3>Description</h3>       
                <p>...Text...</p>
                <p></p>
                <h3>Goals</h3>       
                <p>...Text...</p>
                <p></p>
                <h3>Overview</h3>
                <h4>Overview 1</h4> 
                <p>...Text...</p>
                <p></p>
                <h3>Overview 2</h3> 
                <p>...Text...</p>
                <p></p>
                <h3>Overview 3</h3>       
                <p>...Text...</p>
                <p></p>
                <h3>Demo</h3> 
                <h4>Demo1</h4> 
                <!-- <img class="img-fluid d-block mx-auto" src="img/portfolio/healer_baxter/piano.png" alt=""> -->
                <p>...Text...</p>
                <h4>Demo2</h4> 
                <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/lJ78-UlrxD4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                <p>...Text...</p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="text-center">
                    <p></p>
                    <form action="https://github.com/YaelBenShalom" method="get" target="_blank">
                        <button type="submit" class="btn btn-primary">Check Project on Github</button>
                     </form>
                     <p></p>
                    <button type="button" class="btn btn-primary center" data-dismiss="modal">Close Project</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 3 -->
<div class="portfolio-modal modal fade modal-xl" id="project3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="text-center modal-title">Rapidly-Exploring Random Tree (RRT)</h3>
                <h4 class="text-center">Python  |  Artificial Intelligence  |  Path planning</h4>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                <h3>Description</h3>       
                <p>A Rapidly-Exploring Random Tree (RRT) is a fundamental path planning algorithm in robotics.</p>
                <p>In This project, I implemented RRT exploration algorithm in a two-dimensional domain.</p>
                <br>
                <h3>Goal</h3>       
                <p>Use the RRT algorithm to find the goal coordinate in a two-dimensional domain, while avoiding obstacles.</p>
                <br>
                <h3>Overview</h3>
                <p>The pseudocode for the implementation:</p>
                <p class="text-center">
                    <img class="center" src="img/portfolio/RRT/RRT-pseudocode.png" alt=""></p>
                <p class="text-center">The implementation pseudocode</p>
                <br>
                <h4>Simple RRT</h4> 
                <p>In this part I implemented a simple RRT algorithm in 2D with the domain of [0,100]×[0,100] and incremental distance of 1.</p>
                <p>The program coverages uniformly over the whole space.</p>
                <p>The following figure shows the algorithm implementation after 500 iterations:</p>
                <p class="text-center">
                    <img class="center" src="img/portfolio/RRT/Task_1.png" alt=""></p>
                <p class="text-center">Simple RRT</p>
                <br>
                <h4>Planning a Path with Obstacles</h4> 
                <p>In this part I implemented an RRT algorithm with obstacles.</p>
                <p>The path planning algorithm checks the path for collisions and avoids the round obstacles.</p>
                <p>The following figure shows the algorithm implementation after 500 iterations:</p>
                <p class="text-center">
                    <img class="center" src="img/portfolio/RRT/Task_2.png" alt=""></p>
                <p class="text-center">RRT with obstacles</p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="text-center">
                    <p></p>
                    <form action="https://github.com/YaelBenShalom/RRT-Challenge" method="get" target="_blank">
                        <button type="submit" class="btn btn-primary">Check Project on Github</button>
                     </form>
                     <p></p>
                    <button type="button" class="btn btn-primary center" data-dismiss="modal">Close Project</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 4 -->
<div class="portfolio-modal modal fade modal-xl" id="project4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="text-center modal-title">Robot Navigation and Control</h3>
                <h4 class="text-center">Python  |  Autonomous Vehicle  |  Artificial Intelligence  |  Motion planning  |  Path planning  |  Arduino</h4>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                <h3>Description</h3>       
                <p>In this project, I build a wheeled robot and programmed it to navigate autonomously through a series of tasks,
                    Using Arduino, motors, encoders and distance sensors.</p>
                <br>
                <h3>The tasks</h3>  
                <p>  
                  <ol>
                    <li>Navigating through a maze</li>
                    <li>Driving through changing-slope way, keeping constant roll</li>
                    <li>following curved wall, keeping constant distance</li>
                    <li>Driving on slope with changing gradient, keeping constant speed</li>
                    <li>Locating and reaching the finish line flag</li>
                  </ol>  
                </p>
                <br>
                <h3>System Description</h3>
                <p>I used several components to control the robot motion:
                  <ul>  
                    <li>Arduino</li>
                    <dl>
                        <li>Motors & encoders:</li>
                        <dd>- PMW motor and encoder - One on each rear wheel to activate and control the motion</dd>
                        <dd>- Servo motor - Located on the front of the vehicle and used to rotate the TOF sensor to desired scanning angle</dd>
                    <dl>
                        <li>Sensors</li>
                        <dd>- IR sensor - One on each side of the vehicle to measure side distance</dd>
                        <dd>- TOF (Time of Flight) sensor - Assembled on the servo motor to scan the surrounding space</dd>
                        <dd>- US (ultrasonik) sensor - Located on the top of the vehicle to measure distance from objects above the vehicle</dd>
                        <dd>- IMU 9250 (9 DOF) - Measures orientation (Gyroscope) and acceleration (Accelerometer). Compass is not in use</dd>
                    <li>Led matrix - Indicates mission number and mission success/fail</li>
                  </ul> 
                </p>
                <br>
                <p class="text-center">
                    <img class="center" src="img/portfolio/mechatronics/project4_system_explanation.png" alt="" width="600" height="400"></p>
                <p class="text-center">The system</p>
                <br>
                <p class="text-center">
                    <img class="center" src="img/portfolio/mechatronics/vehicle.jpg" alt="" width="600" height="400"></p>
                <p class="text-center">The vehicle</p>
                <br>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="text-center">
                    <p></p>
                    <form action="https://github.com/YaelBenShalom/Autonomous-Robot-Navigation-and-Control" method="get" target="_blank">
                        <button type="submit" class="btn btn-primary">Check Project on Github</button>
                     </form>
                     <p></p>
                    <button type="button" class="btn btn-primary center" data-dismiss="modal">Close Project</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 5 -->
<div class="portfolio-modal modal fade modal-xl" id="project5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="text-center modal-title">Who Stole My Pen?</h3>
                <h4 class="text-center">ROS  |  Python  |  Robotic Manipulation  |  Motion planning  |   Computer Vision  |  Range Imaging</h4>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                <p></p>
                <h3>Description</h3>       
                <p>...Text...</p>
                <p></p>
                <h3>Goals</h3>       
                <p>...Text...</p>
                <p></p>
                <h3>Overview</h3>
                <h4>Overview 1</h4> 
                <p>...Text...</p>
                <p></p>
                <h3>Overview 2</h3> 
                <p>...Text...</p>
                <p></p>
                <h3>Overview 3</h3>       
                <p>...Text...</p>
                <p></p>
                <h3>Demo</h3> 
                <h4>Demo1</h4> 
                <!-- <img class="img-fluid d-block mx-auto" src="img/portfolio/healer_baxter/piano.png" alt=""> -->
                <p>...Text...</p>
                <h4>Demo2</h4> 
                <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/lJ78-UlrxD4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                <p>...Text...</p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="text-center">
                    <p></p>
                    <form action="https://github.com/YaelBenShalom/Who-Stole-My-Pen-Challenge" method="get" target="_blank">
                        <button type="submit" class="btn btn-primary">Check Project on Github</button>
                     </form>
                     <p></p>
                    <button type="button" class="btn btn-primary center" data-dismiss="modal">Close Project</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 6 -->
<div class="portfolio-modal modal fade modal-xl" id="project6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="text-center modal-title">Python a-Maze-ing Challenge</h3>
                <h4 class="text-center">Python  |  Path planning</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <p></p>
                <h3>Description</h3>       
                <p>...Text...</p>
                <p></p>
                <h3>Goals</h3>       
                <p>...Text...</p>
                <p></p>
                <h3>Overview</h3>
                <h4>Overview 1</h4> 
                <p>...Text...</p>
                <p></p>
                <h3>Overview 2</h3> 
                <p>...Text...</p>
                <p></p>
                <h3>Overview 3</h3>       
                <p>...Text...</p>
                <p></p>
                <h3>Demo</h3> 
                <h4>Demo1</h4> 
                <!-- <img class="img-fluid d-block mx-auto" src="img/portfolio/healer_baxter/piano.png" alt=""> -->
                <p>...Text...</p>
                <h4>Demo2</h4> 
                <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/lJ78-UlrxD4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                <p>...Text...</p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="text-center">
                    <p></p>
                    <form action="https://github.com/YaelBenShalom/Python_a-Maze-ing_Challenge" method="get" target="_blank">
                        <button type="submit" class="btn btn-primary">Check Project on Github</button>
                     </form>
                     <p></p>
                    <button type="button" class="btn btn-primary center" data-dismiss="modal">Close Project</button>
                </div>
            </div>
        </div>
    </div>
</div>