<aside class="bg-primary"></aside>

<section class="no-padding" id="recycler_baxter">
    <div class="container-fluid center">
        <div class="row no-gutter center">
            <div class="col-lg-8 col-lg-offset-2">

                <!-- Header -->
                <div class="modal-header">
                    <h3 class="text-center modal-title">Recycler Baxter</h3>
                    <h4 class="text-center">ROS  |  Python  |  Computer Vision  |  Motion Planning  |  Inverse Kinematics  |  OpenCV  |  MoveIt</h4>
                </div>
                
                <!-- body -->
                <div class="modal-body">
                    <h3>Description</h3>       
                    <p>In this project, my team and I built a ROS (Robot Operating System) package that allowed a Rethink Baxter robot to sort bottles and cans located in front of it,
                        and drop them into separate recycling bins.
                        We used computer vision to detect and locate several randomly placed objects, and used MoveIt methods to control the robot's kinematics.
                        <br>My rule was to program the object recognition and classification software and to build the segmentation and calibration library, which was later used by the robot
                        to localize the objects.</p>
                    <p>Team members: Chris Aretakis, Jake Ketchum, Kailey Smith, Mingqing Yuan, and me.</p>
                    <p>Take a look at the project on my <a href="https://github.com/YaelBenShalom/Recycling-Baxter" target="_blank" rel="noopener"><u><b>GitHub</b></u></a> page.</p>
                    <p></p>
                    <p class="text-center">
                        <img class="center" src="../img/portfolio/Baxter/Baxter.gif" alt="The Baxter in action" style="width:80%"></p>
                    <p class="text-center" style="font-size:14px">The Baxter in action</p>
                    <br>
                    <h3>System Overview</h3>
                    <p>In order to recognize and separate the objects into two different recycle bins, our program is going through a number of steps:</p>
                    <ol style="font-size:16px">
                        <li>Object detection</li>
                        <li>Object segmentation and calibration</li>
                        <li>Robot operation</li>
                    </ol>
                    <br>
                    <h4 style="font-size:20px">Step I: Objects Detection</h4> 
                    <p>In this step, we used a Realsense D435i camera to get a real-time image of the randomly placed objects.
                        <br>We used OpenCV and image processing libraries to detect and differentiate the objects into 2 groups - cans and bottles.</p>
                    <p>The following video demonstrates the object differentiation software for several types of cans and bottles:</p>
                    <p class="text-center">
                        <img class="center" src="../img/portfolio/Baxter/CV.gif" alt="Recognizing and classifying bottles and cans" style="width:80%"></p>
                    <p class="text-center" style="font-size:14px">Recognizing and classifying bottles and cans</p>
                    <br>
                    <h4 style="font-size:20px">Step II: Objects Segmentation and Calibration</h4> 
                    <p>In this step, we used the OpenCV library to find the objects segmentation (pixel location in the image).
                        <br>We also located 2 known calibration points (marked in green in the following image) to help us convert objects coordinates from pixels to meters.</p>
                    <p>The following image demonstrates the differentiation between bottles, cans, and calibrations points:</p>
                    <p class="text-center">
                        <img class="center" src="../img/portfolio/Baxter/realsense.png" alt="Recognizing and classifying bottles and cans" style="width:60%">
                    <p class="text-center" style="font-size:14px">Recognizing and classifying bottles and cans</p> 
                    <br>
                    <h4 style="font-size:20px">Step III: Robot Operation</h4> 
                    <p>In this step, we used MoveIt! library for the robot's motion planning and manipulation.
                        <br>The robot moves to the pre-detected objects' locations, grasps one object at a time, and throws it into the appropriate recycle bin.
                        The robot repeats those actions until it finishes picking up all the objects on the table.</p>
                    <p>The following video demonstrates the robot motion:</p>
                    <p class="text-center">
                        <img class="center" src="../img/portfolio/Baxter/Baxter_sorting.gif" alt="Sorting bottles and cans"></p>
                    <p class="text-center" style="font-size:14px">Sorting bottles and cans</p>               
                </div>
                <h3>Future Work</h3>
                <p>For future work, our vition was to use machine learning algorithm for better objects classification (with this method, we could only classify specific shapes and orientations of bottles and cans).</p>
                <p>By using machine learning methods, we could classify different types of bottles and cans with the same label, and throw them to the same trash bin.</p>
                <br>
                <p>Later, as part of a machine learning based project - <a href="../ML_object_detection/index.html" target="_blank" rel="noopener"><u><b>Real-Time Object Recognition and Classification</b></u></a>, I returned to the Recycler Baxter projects and tried to solve the current perception pipeline problems.</p>

                <!-- footer -->
                <div class="modal-footer">
                    <div class="text-center">
                        <p></p>
                        <form action="https://github.com/YaelBenShalom/Recycling-Baxter" method="get" target="_blank">
                            <button type="submit" class="btn btn-primary">Checkout Project on Github</button>
                        </form>
                        <p></p>
                        <button type="button" class="btn btn-primary center" onclick="history.back()">Back To Portfolio</button>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>