<aside class="bg-primary"></aside>

<section class="no-padding" id="RRT">
    <div class="container-fluid center">
        <div class="row no-gutter center">
            <div class="col-lg-8 col-lg-offset-2">

                <!-- Header -->
                <div class="modal-header">
                    <h3 class="text-center modal-title">Rapidly-Exploring Random Tree (RRT)</h3>
                    <h4 class="text-center">Python  |  Artificial Intelligence  |  Randomized Algorithms  |  Path Planning</h4>
                </div>
                
                <!-- body -->
                <div class="modal-body">
                    <h3>Description</h3>       
                    <p>A Rapidly-Exploring Random Tree (RRT) is a fundamental path planning algorithm in robotics.
                        <br>In This project, I implemented an RRT exploration algorithm used to find a goal coordination, while avoiding obstacles in a two-dimensional domain.</p>
                    <p>Take a look at the project on my <a href="https://github.com/YaelBenShalom/RRT-Challenge" target="_blank" rel="noopener"><u><b>GitHub</b></u></a> page.</p>
                    <p></p>
                    <p class="text-center">
                        <img class="center" src="../img/portfolio/RRT/RRT.gif" alt="The RRT exploration" style="width:80%"></p>
                    <p class="text-center" style="font-size:14px">The RRT exploration</p>
                    <br>
                    <h3>Overview</h3>
                    <p>The pseudocode for the implementation:</p>
                    <p class="text-center">
                        <img class="center" src="../img/portfolio/RRT/RRT-pseudocode.png" alt="pseudocode" style="width:50%"></p>
                    <p class="text-center" style="font-size:14px">The implementation pseudocode</p>
                    <br>
                    <h4 style="font-size:20px">Simple RRT</h4> 
                    <p>In this part I implemented a simple RRT algorithm in 2D with the domain of [0,100]×[0,100] and incremental distance of 1.
                        <br>The program coverages uniformly over the whole space.</p>
                    <p>The following figure shows the algorithm implementation after 500 iterations:</p>
                    <p class="text-center">
                        <img class="center" src="../img/portfolio/RRT/Task_1.png" alt="Simple RRT" style="width:80%"></p>
                    <p class="text-center" style="font-size:14px">Simple RRT</p>
                    <br>
                    <h4 style="font-size:22px">Planning a Path with Obstacles</h4> 
                    <p>In this part I implemented an RRT algorithm with obstacles.
                        <br>The path planning algorithm checks the path for collisions and avoids the round obstacles.</p>
                    <p>The following figure shows the algorithm implementation after 500 iterations:</p>
                    <p class="text-center">
                        <img class="center" src="../img/portfolio/RRT/Task_2.png" alt="RRT with obstacles" style="width:80%"></p>
                    <p class="text-center" style="font-size:14px">RRT with obstacles</p>
                </div>

                <!-- footer -->
                <div class="modal-footer">
                    <div class="text-center">
                        <p></p>
                        <form action="https://github.com/YaelBenShalom/RRT-Challenge" method="get" target="_blank">
                            <button type="submit" class="btn btn-primary">Checkout Project on Github</button>
                        </form>
                        <p></p>
                        <button type="button" class="btn btn-primary center" onclick="history.back()">Back To Portfolio</button>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>