<!-- jQuery -->
<script src="/YaelBenShalom.github.io/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/YaelBenShalom.github.io/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/YaelBenShalom.github.io/js/jquery.easing.min.js"></script>
<script src="/YaelBenShalom.github.io/js/jquery.fittext.js"></script>
<script src="/YaelBenShalom.github.io/js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/YaelBenShalom.github.io/js/creative.js"></script>
