<section id="skills">
    <div class="container-fluid center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">MY SKILLS</h2>
                <hr class="primary">
                <br>
            </div>
        </div>
        <div class="row center">
            <div class="col-lg-2 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1 text-center">
                <div class="service-box text-center">
                    <span class="fa-stack fa-4x text-center">
                        <img style="border-radius: 25%" src="img/skills/robotics.jpg" alt="Robotics" width="130" height="130">
                    </span>
                    <br><br>
                    <h3 style="line-height: 1.5;">Robotics</h3>
                    <br>
                    <p class="text-muted" style="font-size:15px">Robot Operation System (ROS)</p>
                    <p class="text-muted" style="font-size:15px">Feedback Control Systems</p>
                    <p class="text-muted" style="font-size:15px">Motion & Path Planning</p>
                    <p class="text-muted" style="font-size:15px">Robotic Manipulation</p>
                    <p class="text-muted" style="font-size:15px">Artificial Intelligence</p>
                    <p class="text-muted" style="font-size:15px">Machine Learning</p>
                    <p class="text-muted" style="font-size:15px">Image Processing</p>
                    <p class="text-muted" style="font-size:15px">Computer Vision</p>
                    <p class="text-muted" style="font-size:15px">Mechatronics</p>
                    <p class="text-muted" style="font-size:15px">SLAM</p>
                    <!-- <p class="text-muted">Pytorch</p>
                    <p class="text-muted">OpenCV</p>
                    <p class="text-muted">Gazebo</p>
                    <p class="text-muted">MoveIt!</p> -->
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 text-center">
                <div class="service-box text-center">
                    <span class="fa-stack fa-4x text-center">
                        <img style="border-radius: 25%" src="img/skills/programming.jpg" alt="Programming" width="130" height="130">  
                    </span>
                    <br><br>
                    <h3 style="line-height: 1.5">Programming</h3>
                    <br>
                    <p class="text-muted" style="font-size:15px">Python</p>
                    <p class="text-muted" style="font-size:15px">C++</p>
                    <p class="text-muted" style="font-size:15px">C</p>
                    <p class="text-muted" style="font-size:15px">Matlab</p>
                    <p class="text-muted" style="font-size:15px">HTML, CSS</p>
                    <p class="text-muted" style="font-size:15px">JavaScript</p>
                    <p class="text-muted" style="font-size:15px">Linux</p>
                    <p class="text-muted" style="font-size:15px">Git</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 text-center">
                <div class="service-box text-center">
                    <span class="fa-stack fa-4x text-center">
                        <img style="border-radius: 25%" src="img/skills/mech_eng.jpeg" alt="Mechanical Engineering" width="130" height="130">  
                    </span>
                    <br><br>
                    <h3 style="line-height: 1.5">Mechanical Engineering</h3>
                    <br>
                    <p class="text-muted" style="font-size:15px">Electro-Optical System Design</p>
                    <p class="text-muted" style="font-size:15px">Thermal/Structural Analysis</p>
                    <p class="text-muted" style="font-size:15px">Electronic-Packaging</p>
                    <p class="text-muted" style="font-size:15px">Solidworks</p>
                    <p class="text-muted" style="font-size:15px">Visualize</p>
                    <p class="text-muted" style="font-size:15px">Inspire</p>
                    <p class="text-muted" style="font-size:15px">Ansys</p>
                    <p class="text-muted" style="font-size:15px">CFdesign</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 text-center">
                <div class="service-box text-center">
                    <span class="fa-stack fa-4x text-center">
                        <img style="border-radius: 25%" src="img/skills/elect_eng.jpg" alt="Electrical Engineering" width="130" height="130">  
                    </span>
                    <br><br>
                    <h3 style="line-height: 1.5">Electrical Engineering</h3>
                    <br>
                    <p class="text-muted" style="font-size:15px">Electronic System Design</p>
                    <p class="text-muted" style="font-size:15px">QA and Hardware Testing</p>
                    <p class="text-muted" style="font-size:15px">PCB Design</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 text-center">
                <div class="service-box text-center">
                    <span class="fa-stack fa-4x text-center">
                        <img style="border-radius: 25%" src="img/skills/mfg.jpeg" alt="Manufacturing" width="130" height="130">  
                    </span>
                    <br><br>
                    <h3 style="line-height: 1.5">Manufacturing</h3>
                    <br>
                    <p class="text-muted" style="font-size:15px">3D-Printing</p>
                    <p class="text-muted" style="font-size:15px">Laser Cutting</p>
                    <p class="text-muted" style="font-size:15px">PCB Manufacturing</p>
                    <p class="text-muted" style="font-size:15px">Sheet Metal</p>
                    <p class="text-muted" style="font-size:15px">Soldering</p>
                </div>
            </div>
        </div>
        <div class="row">
            <br><br>
            <div class="col-md-12 text-center">
                <a href="./Resume - Yael Ben Shalom.pdf" target="_blank" class="btn btn-primary btn-xl wow tada">Download Resume</a>
            </div>
        </div>
    </div>
</section>