<section id="skills">
    <div class="container-fluid center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">SKILLS</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row center">
            <div class="col-lg-2 col-lg-offset-1 col-md-4 col-sm-4 text-center">
                <div class="service-box">
                    <span class="fa-stack fa-4x">
                        <img style="border-radius: 25%" src="img/skills/robotics.jpg" alt="Robotics" width="130" height="130">
                    </span>
                    <br><br>
                    <h3>Robotics</h3>
                    <p class="text-muted">Robot Operation System (ROS)</p>
                    <p class="text-muted">Feedback Control Systems</p>
                    <p class="text-muted">Motion & Path Planning</p>
                    <p class="text-muted">Robotic Manipulation</p>
                    <p class="text-muted">Artificial Intelligence</p>
                    <p class="text-muted">Machine Learning</p>
                    <p class="text-muted">Image Processing</p>
                    <p class="text-muted">Computer Vision</p>
                    <p class="text-muted">Mechatronics</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 text-center">
                <div class="service-box">
                    <span class="fa-stack fa-4x">
                        <img style="border-radius: 25%" src="img/skills/programming.jpg" alt="Programming" width="130" height="130">  
                    </span>
                    <br><br>
                    <h3>Programming</h3>
                    <p class="text-muted">Python</p>
                    <p class="text-muted">C/C++ Compiler (Arduino)</p>
                    <p class="text-muted">Matlab</p>
                    <p class="text-muted">Simulink</p>
                    <p class="text-muted">HTML, CSS</p>
                    <p class="text-muted">Linux</p>
                    <p class="text-muted">Git</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 text-center">
                <div class="service-box">
                    <span class="fa-stack fa-4x">
                        <img style="border-radius: 25%" src="img/skills/mech_eng.jpeg" alt="Mechanical Engineering" width="130" height="130">  
                    </span>
                    <br><br>
                    <h3>Mechanical Engineering</h3>
                    <p class="text-muted">Electro-Optics Systems</p>
                    <p class="text-muted">Thermal/Structural Analysis</p>
                    <p class="text-muted">Electronic-Packaging</p>
                    <p class="text-muted">Solidworks</p>
                    <p class="text-muted">Visualize</p>
                    <p class="text-muted">Inspire</p>
                    <p class="text-muted">Ansys</p>
                    <p class="text-muted">CFdesign</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 text-center">
                <div class="service-box">
                    <span class="fa-stack fa-4x">
                        <img style="border-radius: 25%" src="img/skills/elect_eng.jpg" alt="Electrical Engineering" width="130" height="130">  
                    </span>
                    <br><br>
                    <h3>Electrical Engineering</h3>
                    <p class="text-muted">Electronic System Design</p>
                    <p class="text-muted">QA and Hardware Testing</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 text-center">
                <div class="service-box">
                    <span class="fa-stack fa-4x">
                        <img style="border-radius: 25%" src="img/skills/mfg.jpeg" alt="Manufacturing" width="130" height="130">  
                    </span>
                    <br><br>
                    <h3>Manufacturing</h3>
                    <p class="text-muted">3D-printing</p>
                    <p class="text-muted">Laser Cutting</p>
                    <p class="text-muted">PCB Manufacturing</p>
                    <p class="text-muted">Sheet Metal</p>
                    <p class="text-muted">Soldering</p>
                </div>
            </div>
        </div>
        <div class="row">
            <br><br><br>
            <div class="col-md-12 text-center">
                <a href="./Resume - Yael Ben Shalom.pdf" target="_blank" class="btn btn-primary btn-xl wow tada">Download Resume</a>
            </div>
        </div>
    </div>
</section>